<!DOCTYPE html>
<html>
  <head>
    <title>CononicalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag("app-entry") %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <%= yield %>
  </body>

  <%= javascript_pack_tag("app-entry") %>
</html>
